@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --Roboto:'Roboto',sans-serif;
  --Josepin:'Josefin Sans', sans-serif;
--secondary: #188bf6;
--white: #ffffff;
--gray: #cbd5e0;
--black: #000000;
--red: #e93d3d;
--orange: #f6ad55;
--yellow: #faf089;
--green: #9ae6b4;
--teal: #63b3ed;
--indigo: #757BBD;
--purple: #d6bcfa;
--pink: #fbb6ce;
--transparent: transparent;
--overlay: rgba(0, 0, 0, 0.5);
--color-17: rgb(8, 8, 8);
}
.bgMajapahit{
	background-image: url(../images/logo-majapahit/about.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
.bgWhite{background-color: #fff;}
.txtblack a.nav-link{color:#000 !important;}